@import 'reset.css';
@import 'header.css';
@import 'headerMedia.css';
@import 'main.css';

body {
  letter-spacing: -0.08em;
}

.wrapper {
  min-width: 1000px;
  background-color: #eeeeee;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    min-width: 320px;
    width: 100%;
  }
}
